doctype html
html
  head
    title= titulo
    link(rel='stylesheet', href='/styles.css')
  body
    header
      h1 Eventos App
      nav
        a(href='/') Inicio |
        a(href='/nuevo') Nuevo Evento
    main
      block contenido
